@{
    ViewBag.Title = "About_us";
    Layout = "~/Views/Playout/ProductLayout.cshtml";
}

<div class="col_main_lg" style="float: right;width:800px;">
    <article>
        <h1 class="titledetail">Giới thiệu</h1>
        <div class="userdetail">
            <a> Đình Phương Stores</a>
            <span>2 tháng trước</span>
            <span>1507 lượt xem</span>
        </div>
        <div class="article_content">
            <h3><strong>LỊCH SỬ H&Igrave;NH TH&Agrave;NH V&Agrave; PH&Aacute;T TRIỂN</strong></h3>

            <p>-&nbsp; Đình Phương Stores được th&agrave;nh lập v&agrave;o th&aacute;ng 05/2020 L&agrave; một trong những C&ocirc;ng ty ti&ecirc;n phong trong lĩnh vực kinh doanh thiết bị m&aacute;y t&iacute;nh tại thị trường Việt Nam. Với bề d&agrave;y hơn 1 năm hoạt động, với 2 chi nh&aacute;nh, cửa h&agrave;ng b&aacute;n lẻ tr&ecirc;n khắp 3 miền cả nước. Với tổng số nh&acirc;n vi&ecirc;n hiện tại l&agrave; gần 10 người, l&agrave; tập hợp của c&aacute;c kỹ sư v&agrave; kỹ thuật vi&ecirc;n trẻ năng động c&oacute; năng lực chuy&ecirc;n m&ocirc;n cao v&agrave; tận t&acirc;m với c&ocirc;ng việc. Ch&uacute;ng t&ocirc;i kh&ocirc;ng chỉ cung cấp kịp thời cho kh&aacute;ch h&agrave;ng c&aacute;c sản phẩm c&ocirc;ng nghệ th&ocirc;ng tin c&oacute; chất lượng cao với gi&aacute; hợp l&yacute;, m&agrave; c&ograve;n cung cấp cho kh&aacute;ch h&agrave;ng những dịch vụ hậu m&atilde;i tin cậy nhất.</p>

            <p>&nbsp;</p>

            <h3>NỀN TẢNG THƯƠNG HIỆU:</h3>

            <p>- Ngo&agrave;i hoạt động kinh doanh ch&uacute;ng t&ocirc;i lu&ocirc;n coi những hoạt động đ&oacute;ng g&oacute;p x&atilde; hội l&agrave; một phần tr&aacute;ch nhiệm của c&ocirc;ng ty đối với cộng đồng. Đình Phương Stores đ&atilde; v&agrave; đang thực hiện nhiều chương tr&igrave;nh trong c&aacute;c lĩnh vực y tế cộng đồng, hiến m&aacute;u nh&acirc;n đạo, thăm hỏi tặng qu&agrave; định kỳ c&aacute;c m&aacute;i ấm t&igrave;nh thương, c&aacute;c chương tr&igrave;nh bảo vệ m&ocirc;i trường v&agrave; đặc biệt quan t&acirc;m đến c&aacute;c quỹ khuyến học gi&uacute;p c&aacute;c em nhỏ c&oacute; ho&agrave;n cảnh gia đ&igrave;nh kh&oacute; khăn vươn l&ecirc;n trong học tập v&agrave; cuộc sống .&nbsp;</p>

            <p>&nbsp;</p>

            <p>- Với phương ch&acirc;m &ldquo;Chung tay, chung sức c&ugrave;ng ph&aacute;t triển&rdquo;, Đình Phương Stores lu&ocirc;n ch&agrave;o đ&oacute;n c&aacute;c bạn sinh vi&ecirc;n, c&aacute;c bạn trẻ c&oacute; tư c&aacute;ch đạo đức tốt, chuy&ecirc;n m&ocirc;n cao, nhiệt t&igrave;nh đến g&oacute;p sức c&ugrave;ng C&ocirc;ng ty. Đặc biệt đối với&nbsp; c&aacute;c bạn trẻ ho&agrave;n cảnh kh&oacute; khăn, C&ocirc;ng ty c&oacute; ch&iacute;nh s&aacute;ch ưu ti&ecirc;n tuyển dụng cho một số vị tr&iacute;: chỉ cần tư c&aacute;ch đạo đức tốt, chuy&ecirc;n cần kh&ocirc;ng cần kiến thức chuy&ecirc;n m&ocirc;n hay bằng cấp (C&ocirc;ng ty sẽ đ&agrave;o tạo để ph&ugrave; hợp với c&ocirc;ng việc).</p>

            <p>&nbsp;</p>

            <h3>MỤC TI&Ecirc;U PH&Aacute;T TRIỂN</h3>

            <p>- Với vai tr&ograve; l&agrave; đại diện ch&iacute;nh thức được ủy quyền từ c&aacute;c h&atilde;ng m&aacute;y t&iacute;nh, điện thoại v&agrave; thiết bị số h&agrave;ng đầu tr&ecirc;n thế giới, định hướng ph&aacute;t triển của Đình Phương Stores l&agrave; sẽ x&acirc;y dựng v&agrave; ph&aacute;t triển hệ thống chuỗi si&ecirc;u thị m&aacute;y t&iacute;nh hiện đại nhất, rộng khắp v&agrave; đứng đầu Việt Nam. Trong tương lai, hệ thống si&ecirc;u thị Ngọc Nguyễn Stores sẽ được nh&acirc;n rộng ra 28/64 Tỉnh th&agrave;nh, từ Th&agrave;nh phố Hồ Ch&iacute; Minh, Cần Thơ, B&igrave;nh Dương, Hải Ph&ograve;ng, Đ&agrave; Nẵng v&agrave; sau đ&oacute; l&agrave; c&aacute;c tỉnh th&agrave;nh kh&aacute;c tr&ecirc;n cả nước.</p>

            <p>&nbsp;</p>

            <p>- Hoạt động kinh doanh trong lĩnh vực m&aacute;y t&iacute;nh c&oacute; nhiều sự biến động cao, xuất ph&aacute;t từ quan điểm &#39;B&aacute;n đ&uacute;ng gi&aacute; - Phục vụ chu đ&aacute;o&rdquo; ch&uacute;ng t&ocirc;i coi lợi nhuận mang lại nhờ nhập khẩu trực tiếp sản phẩm, chứ kh&ocirc;ng nhờ b&aacute;n rẻ sản phẩm. Khi mua được h&agrave;ng rẻ, c&oacute; thể b&aacute;n với gi&aacute; rẻ m&agrave; vẫn c&oacute; l&atilde;i.&nbsp;</p>

            <p>&nbsp;</p>

            <p>- Ch&uacute;ng t&ocirc;i lu&ocirc;n coi trọng vấn đề nh&acirc;n lực, li&ecirc;n tục đ&agrave;o tạo n&acirc;ng cao tr&igrave;nh độ v&agrave; tay nghề cho mọi th&agrave;nh vi&ecirc;n trong c&ocirc;ng ty. Đến với ch&uacute;ng t&ocirc;i, c&aacute;c bạn sẽ được sự hậu m&atilde;i tốt với một đội ngũ Kỹ sư v&agrave; Kỹ thuật vi&ecirc;n giỏi, nhiệt t&igrave;nh v&agrave; nhiều kinh nghiệm. Tất cả mọi h&agrave;nh động, nhiệm vụ v&agrave; mục ti&ecirc;u của ch&uacute;ng t&ocirc;i đều hướng tới mục đ&iacute;ch phục vụ kh&aacute;ch h&agrave;ng tốt nhất. H&atilde;y đến với Đình Phương Stores để bạn thực sự cảm thấy: &quot;<strong>Đến với Đình Phương Stores - Đến với niềm tin&quot;</strong></p>
        </div>

    </article>
    <div class="pluggin-comment-facebook">
    </div>
</div>

<style>
    element.style {
        float: right;
    }
    * {
        margin: 0;
        padding: 0;
    }
    article, .bottom {
        display: block;
        overflow: hidden;
        width: 800px;
        margin: auto;
    }
    div {
        display: block;
    }
    body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
        color: #333;
        outline: 0;
        zoom: 1;
    }
    .titledetail {
        color: #333;
        display: block;
        font-family: "Roboto Condensed",sans-serif;
        font-size: 36px;
        font-weight: 600;
        line-height: 43px;
        margin: auto;
        overflow: hidden;
        text-align : left;
    }
    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        padding-top: 1em;
    }
    .userdetail {
        display: block;
        overflow: hidden;
        margin: 0 10px 0 0;
        padding: 15px 0 0;
        text-align : left;  
    }
    article > div {
        margin-top: 0;
    }
    article p, article div, article h2, article h3 {
        margin: 10px auto;
        font-size: 16px;
        color: #333;
        line-height: 28px;
    }
    article a, article a:hover, article a:active {
        color: #288ad6;
        font-size: 16px;
    }
    .userdetail a, .userdetail a:hover {
        color: #333;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
        overflow: hidden;
        vertical-align: middle;
    }

    article a, article a:hover, article a:active {
        color: #288ad6;
        font-size: 16px;
    }

    a {
        color: rgba(0,0,0,.8);
        text-decoration: none;
    }
    .userdetail span {
        color: #999;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        margin: -2px 5px 0;
        vertical-align: middle;
    }
        .userdetail span::before {
            color: #ccc;
            content: "•";
            display: inline-block;
            font-size: 18px;
            margin-right: 8px;
            vertical-align: middle;
        }
    article h3 {
        font-size: 18px;
    }
    article h2, article h3, article h4, article h5 {
        font-weight: 700;
    }
    strong {
        font-weight: bold;
        text-align :left;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align : justify;
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        text-align : left;
    }
</style>
