@*
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Playout/HomePlayout.cshtml";
}*@

<h2>
    Xin lỗi bạn không đủ quyền để truy cập vào trang web này!
    <br/>
    Xin vui lòng quay lại trang chủ
    @Html.ActionLink("Trở về", "Index1", "Home", null, null)
</h2>

